<h1>Libros</h1>

{% if books %}
<form id="search" method="GET">
	{% if page > 1 %}
	<a href="?page={{ page|add:"-1" }}">Anterior</a>
	{% endif %}
	<span>
	Página <input size="3" type="text" name="page" value="{{ page }}">
	de un total de {{ pages }}
	</span>
	{% if page < pages %}
	<a href="?page={{ page|add:1 }}">Siguiente</a>
	{% endif %}
</form>

<p>Hay {{ count }} libros.</p>
<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Author</th>
			<th>Año</th>
			<th>ISBN</th>
			<th>Creación</th>
		</tr>
	</thead>
	<tbody>
		{% for book in books %}
		<tr>
			<td>{{ book.name }}</td>
			<td>{{ book.author }}</td>
			<td>{{ book.year }}</td>
			<td>{{ book.isbn }}</td>
			<td>{{ book.created_at | date }}</td>
		</tr>
		{% endfor %}
	</tbody>

</table>
{% else %}
<p>No hay libros en este momento.</p>
{% endif %}

<form id="insert" method="POST" action="insert">
	{% csrf_token %}
	<input type="text" name="count" value="10" size="2">
	<button type="submit">Más</button>
</form>

<style>
	#insert { position: absolute; right: 5px; top: 5px; }
	#search { display: flex; justify-content: space-between; text-align: center; }
	#search span { flex: 1; }
</style>
